@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}
.main{
  height: 230px;
  width: 300px;
  background-color: rgb(30, 30, 30);
  border-radius: 12px;
  color: white;
  position: absolute;
  overflow: hidden;
  /* transition:background-color 0.5s ; */
  cursor: pointer;
}
.main:hover{
  background-color: blue;
  color: white;
}


.main img{
  margin: 20px;
}

.header{
  margin: 0px;
  position: inherit;
  transform: translate(-50%,-50%);
  overflow: hidden;
  left: 40%;
  top: 16%;
}

.price{
  margin: 0px;
  position: inherit;
  transform: translate(-50%,-50%);
  overflow: hidden;
  left: 40%;
  top: 26%;
}

.icon-link{
  position: inherit;
  transform: translate(-50%,-50%);
  overflow: hidden;
  left: 90%;
  top: 22%;
  
}

.bottom{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  height: 100%;

  width: 100%;
}

.main:hover .left-content p{
  color: white;
}


.left-content p{
  color: gray;
  font-size: 12px;
  margin: 5px;
}



.right-content p{
  font-size: 12px;
  margin: 5px;
}


@media screen and (max-width: 580px) {
  .main{
    width: 97%;
  }

  .header{
    left: 30%;
  }

  .price{
    left: 30%;
  }
}